.login_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login_form {
      border: 1px solid #ab2828;
      width: 40%;
      min-height: 90%;
      .title {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
          text-align: center;
        }
      }
      .form {
        form {
          .form_container {
            width: 90%;
            // height: 30px;
            margin: 0 auto;
            input {
              width: 100%;
              outline: none;
              border: none;
              background-color: #f1f3f4;
              margin-bottom: 10px;
              height: 35px;
              border-radius: 5px;
              &::placeholder {
                color: #000;
                padding-left: 15px;
              }
            }
  .submit_button{
  background-color: #D8E2FC;
  }
          }
        }
      }
    }
  }
  